In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LinearRegression

# Read in the datasets:

In [73]:
train_df = pd.read_csv("../datasets/train.csv")

In [74]:
test_df = pd.read_csv("../datasets/test.csv")

# Investigate the data:

### "Train" dataset:

In [75]:
train_df.shape

(2051, 81)

In [76]:
train_df.head(15)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500
5,138,535126040,20,RL,137.0,16492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,WD,190000
6,2827,908186070,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2006,New,140000
7,145,535154050,20,RL,NaN,12160,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,NaN,0,5,2010,COD,142000
8,1942,535353130,20,RL,NaN,15783,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,400,6,2007,WD,112500
9,1956,535426130,60,RL,70.0,11606,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,NaN,0,9,2007,WD,135000
10,1044,527451290,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2008,COD,85400
11,2752,906380150,20,RL,64.0,7488,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,2,2006,WD,183600
12,807,906226060,70,RL,120.0,26400,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,NaN,0,6,2009,WD,131000
13,1177,533236070,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,12,2008,ConLD,200000
14,1480,907418040,20,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2008,WD,193000

In [77]:
train_df.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'SalePrice'],
      dtype='object')

In [78]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2051 non-null   int64
 1   PID              2051 non-null   int64
 2   MS SubClass      2051 non-null   int64
 3   MS Zoning        2051 non-null   object
 4   Lot Frontage     1721 non-null   float64
 5   Lot Area         2051 non-null   int64
 6   Street           2051 non-null   object
 7   Alley            140 non-null    object
 8   Lot Shape        2051 non-null   object
 9   Land Contour     2051 non-null   object
 10  Utilities        2051 non-null   object
 11  Lot Config       2051 non-null   object
 12  Land Slope       2051 non-null   object
 13  Neighborhood     2051 non-null   object
 14  Condition 1      2051 non-null   object
 15  Condition 2      2051 non-null   object
 16  Bldg Type        2051 non-null   object
 17  House Style      2051 non-null   object
 18  Overall Qual     2051 non-null   int64
 19  Overall Cond     2051 non-null   int64
 20  Year Built       2051 non-null   int64
 21  Year Remod/Add   2051 non-null   int64
 22  Roof Style       2051 non-null   object
 23  Roof Matl        2051 non-null   object
 24  Exterior 1st     2051 non-null   object
 25  Exterior 2nd     2051 non-null   object
 26  Mas Vnr Type     2029 non-null   object
 27  Mas Vnr Area     2029 non-null   float64
 28  Exter Qual       2051 non-null   object
 29  Exter Cond       2051 non-null   object
 30  Foundation       2051 non-null   object
 31  Bsmt Qual        1996 non-null   object
 32  Bsmt Cond        1996 non-null   object
 33  Bsmt Exposure    1993 non-null   object
 34  BsmtFin Type 1   1996 non-null   object
 35  BsmtFin SF 1     2050 non-null   float64
 36  BsmtFin Type 2   1995 non-null   object
 37  BsmtFin SF 2     2050 non-null   float64
 38  Bsmt Unf SF      2050 non-null   float64
 39  Total Bsmt SF    2050 non-null   float64
 40  Heating          2051 non-null   object
 41  Heating QC       2051 non-null   object
 42  Central Air      2051 non-null   object
 43  Electrical       2051 non-null   object
 44  1st Flr SF       2051 non-null   int64
 45  2nd Flr SF       2051 non-null   int64
 46  Low Qual Fin SF  2051 non-null   int64
 47  Gr Liv Area      2051 non-null   int64
 48  Bsmt Full Bath   2049 non-null   float64
 49  Bsmt Half Bath   2049 non-null   float64
 50  Full Bath        2051 non-null   int64
 51  Half Bath        2051 non-null   int64
 52  Bedroom AbvGr    2051 non-null   int64
 53  Kitchen AbvGr    2051 non-null   int64
 54  Kitchen Qual     2051 non-null   object
 55  TotRms AbvGrd    2051 non-null   int64
 56  Functional       2051 non-null   object
 57  Fireplaces       2051 non-null   int64
 58  Fireplace Qu     1051 non-null   object
 59  Garage Type      1938 non-null   object
 60  Garage Yr Blt    1937 non-null   float64
 61  Garage Finish    1937 non-null   object
 62  Garage Cars      2050 non-null   float64
 63  Garage Area      2050 non-null   float64
 64  Garage Qual      1937 non-null   object
 65  Garage Cond      1937 non-null   object
 66  Paved Drive      2051 non-null   object
 67  Wood Deck SF     2051 non-null   int64
 68  Open Porch SF    2051 non-null   int64
 69  Enclosed Porch   2051 non-null   int64
 70  3Ssn Porch       2051 non-null   int64
 71  Screen Porch     2051 non-null   int64
 72  Pool Area        2051 non-null   int64
 73  Pool QC          9 non-null      object
 74  Fence            400 non-null    object
 75  Misc Feature     65 non-null     object
 76  Misc Val         2051 non-null   int64
 77  Mo Sold          2051 non-null   int64
 78  Yr Sold          2051 non-null   int64
 79  Sale Type        2051 non-null   object
 80  SalePrice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [79]:
list_na_train_df = train_df.columns[train_df.isna().any()].to_list()
list_na_train_df

['Lot Frontage',
 'Alley',
 'Mas Vnr Type',
 'Mas Vnr Area',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin SF 1',
 'BsmtFin Type 2',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Fireplace Qu',
 'Garage Type',
 'Garage Yr Blt',
 'Garage Finish',
 'Garage Cars',
 'Garage Area',
 'Garage Qual',
 'Garage Cond',
 'Pool QC',
 'Fence',
 'Misc Feature']

In [80]:
train_df.describe()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2051.000000,2.051000e+03,2051.000000,1721.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2029.000000,...,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000
mean,1474.033642,7.135900e+08,57.008776,69.055200,10065.208191,6.112140,5.562165,1971.708922,1984.190151,99.695909,...,93.833740,47.556802,22.571916,2.591419,16.511458,2.397855,51.574354,6.219893,2007.775719,181469.701609
std,843.980841,1.886918e+08,42.824223,23.260653,6742.488909,1.426271,1.104497,30.177889,21.036250,174.963129,...,128.549416,66.747241,59.845110,25.229615,57.374204,37.782570,573.393985,2.744736,1.312014,79258.659352
min,1.000000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,753.500000,5.284581e+08,20.000000,58.000000,7500.000000,5.000000,5.000000,1953.500000,1964.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129825.000000
50%,1486.000000,5.354532e+08,50.000000,68.000000,9430.000000,6.000000,5.000000,1974.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,162500.000000
75%,2198.000000,9.071801e+08,70.000000,80.000000,11513.500000,7.000000,6.000000,2001.000000,2004.000000,161.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,2930.000000,9.241520e+08,190.000000,313.000000,159000.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,547.000000,432.000000,508.000000,490.000000,800.000000,17000.000000,12.000000,2010.000000,611657.000000

### "Test" dataset:

In [81]:
test_df.shape

(878, 80)

In [82]:
test_df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [83]:
test_df.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type'],
      dtype='object')

In [84]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               878 non-null    int64
 1   PID              878 non-null    int64
 2   MS SubClass      878 non-null    int64
 3   MS Zoning        878 non-null    object
 4   Lot Frontage     718 non-null    float64
 5   Lot Area         878 non-null    int64
 6   Street           878 non-null    object
 7   Alley            58 non-null     object
 8   Lot Shape        878 non-null    object
 9   Land Contour     878 non-null    object
 10  Utilities        878 non-null    object
 11  Lot Config       878 non-null    object
 12  Land Slope       878 non-null    object
 13  Neighborhood     878 non-null    object
 14  Condition 1      878 non-null    object
 15  Condition 2      878 non-null    object
 16  Bldg Type        878 non-null    object
 17  House Style      878 non-null    object
 18  Overall Qual     878 non-null    int64
 19  Overall Cond     878 non-null    int64
 20  Year Built       878 non-null    int64
 21  Year Remod/Add   878 non-null    int64
 22  Roof Style       878 non-null    object
 23  Roof Matl        878 non-null    object
 24  Exterior 1st     878 non-null    object
 25  Exterior 2nd     878 non-null    object
 26  Mas Vnr Type     877 non-null    object
 27  Mas Vnr Area     877 non-null    float64
 28  Exter Qual       878 non-null    object
 29  Exter Cond       878 non-null    object
 30  Foundation       878 non-null    object
 31  Bsmt Qual        853 non-null    object
 32  Bsmt Cond        853 non-null    object
 33  Bsmt Exposure    853 non-null    object
 34  BsmtFin Type 1   853 non-null    object
 35  BsmtFin SF 1     878 non-null    int64
 36  BsmtFin Type 2   853 non-null    object
 37  BsmtFin SF 2     878 non-null    int64
 38  Bsmt Unf SF      878 non-null    int64
 39  Total Bsmt SF    878 non-null    int64
 40  Heating          878 non-null    object
 41  Heating QC       878 non-null    object
 42  Central Air      878 non-null    object
 43  Electrical       877 non-null    object
 44  1st Flr SF       878 non-null    int64
 45  2nd Flr SF       878 non-null    int64
 46  Low Qual Fin SF  878 non-null    int64
 47  Gr Liv Area      878 non-null    int64
 48  Bsmt Full Bath   878 non-null    int64
 49  Bsmt Half Bath   878 non-null    int64
 50  Full Bath        878 non-null    int64
 51  Half Bath        878 non-null    int64
 52  Bedroom AbvGr    878 non-null    int64
 53  Kitchen AbvGr    878 non-null    int64
 54  Kitchen Qual     878 non-null    object
 55  TotRms AbvGrd    878 non-null    int64
 56  Functional       878 non-null    object
 57  Fireplaces       878 non-null    int64
 58  Fireplace Qu     456 non-null    object
 59  Garage Type      834 non-null    object
 60  Garage Yr Blt    833 non-null    float64
 61  Garage Finish    833 non-null    object
 62  Garage Cars      878 non-null    int64
 63  Garage Area      878 non-null    int64
 64  Garage Qual      833 non-null    object
 65  Garage Cond      833 non-null    object
 66  Paved Drive      878 non-null    object
 67  Wood Deck SF     878 non-null    int64
 68  Open Porch SF    878 non-null    int64
 69  Enclosed Porch   878 non-null    int64
 70  3Ssn Porch       878 non-null    int64
 71  Screen Porch     878 non-null    int64
 72  Pool Area        878 non-null    int64
 73  Pool QC          4 non-null      object
 74  Fence            172 non-null    object
 75  Misc Feature     41 non-null     object
 76  Misc Val         878 non-null    int64
 77  Mo Sold          878 non-null    int64
 78  Yr Sold          878 non-null    int64
 79  Sale Type        878 non-null    object
dtypes: float64(3), int64(35), object(42)
memory usage: 548.9+ KB

In [85]:
list_na_test_df = test_df.columns[test_df.isna().any()].to_list()

# Notes on the EDA (Prior to cleaning):

### Differences between the sets:

- The test contains 1 less column than train: test does not contain "SalePrice"
    - The "SalesPrice" column contains all <b><i>"except for the target that we are trying to predict in our Regression model."</i></b>
- The column names in both sets will need to be reformatted, to make them easier to work with.
    - <b>A function can be used to iterate through and automate necessary changes.</b>
- What are the missing values?
    - How many values should each col contain, including na?
        - <b>Train: 2051 rows
        - Test: 878 rows</b>
    - What cols have missing values?
        - <b>Train: there are 26 cols with NaN
        - Test: there are 19 cols with NaN</b>
    - What do these missing values mean?
        - <b>Missing values in some cols will mean an amenity or feature is not present at that particular parcel (i.e. does not have a pool, or garage, or fireplace, etc).
        - For the BSMT sq foot cols, NaN could be problematic. Does this unit not have a basement?
        - </b>
- Variable types info (available via the "data description":
    - <b>Nominal: Named, categorical
    - Ordinal: named, ranked
    - Discrete: dates, # full/half bathrooms, # bedrooms, # kitchens, # rooms 
    - Continuous: size (sq footage), $ value of misc. feature, SALE PRICE</b>
- Identify Outliers:
    - <b>Approach: (Could use a function for this)
        - Find 50, 25, and 75%'s for dataset
        - Anything < 1.5 * the IQR under Q1, or
        - Anything > 1.5 * the IQR above Q3</b>

# Clean the data:

In [86]:
train_df.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'SalePrice'],
      dtype='object')

In [99]:
# Reformat col names:

def format_col(df):
    # To lowercase
    df.columns = map(str.lower, df.columns)  # <-- Referenced: https://chrisalbon.com/python/data_wrangling/pandas_lowercase_column_names/
    
    # Remove spaces, add "_":
    df.columns = df.columns.str.replace(" ", "_")
    
    

format_col(train_df)



train_df.rename(columns={"saleprice": "sale_price"}, inplace=True)

train_df.columns

- What cols have missing values?
    - Train: there are 26 cols with NaN
    - Test: there are 19 cols with NaN
- What do these missing values mean?
    - Missing values in some cols will mean an amenity or feature is not present at that particular parcel (i.e. does not have a pool, or garage, or fireplace, etc).
    - For the BSMT sq foot cols, NaN could be problematic. Does this unit not have a basement?
    -

In [121]:
# NaN's
train_df.isna().sum()

id                0
pid               0
ms_subclass       0
ms_zoning         0
lot_frontage    330
               ...
misc_val          0
mo_sold           0
yr_sold           0
sale_type         0
sale_price        0
Length: 81, dtype: int64

In [124]:
list_na_train_df = train_df.columns[train_df.isna().any()].to_list()
list_na_train_df

['lot_frontage',
 'alley',
 'mas_vnr_type',
 'mas_vnr_area',
 'bsmt_qual',
 'bsmt_cond',
 'bsmt_exposure',
 'bsmtfin_type_1',
 'bsmtfin_sf_1',
 'bsmtfin_type_2',
 'bsmtfin_sf_2',
 'bsmt_unf_sf',
 'total_bsmt_sf',
 'bsmt_full_bath',
 'bsmt_half_bath',
 'fireplace_qu',
 'garage_type',
 'garage_yr_blt',
 'garage_finish',
 'garage_cars',
 'garage_area',
 'garage_qual',
 'garage_cond',
 'pool_qc',
 'fence',
 'misc_feature']

In [125]:
train_df.loc[train_df["lot_frontage"].isna()]  # <-- No linear feet of street connected to property?

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,sale_price
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
7,145,535154050,20,RL,NaN,12160,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,NaN,0,5,2010,COD,142000
8,1942,535353130,20,RL,NaN,15783,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,400,6,2007,WD,112500
23,12,527165230,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,185000
27,1534,909277040,50,RL,NaN,11700,Pave,Grvl,IR1,HLS,...,0,0,NaN,NaN,NaN,0,7,2008,WD,198000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,560,532376110,20,RL,NaN,7791,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdWo,NaN,0,10,2009,WD,129000
2022,2872,909475020,20,RL,NaN,16381,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,12,2006,WD,223000
2028,2526,534127190,20,RL,NaN,20781,Pave,NaN,IR2,Lvl,...,0,0,NaN,NaN,NaN,0,6,2006,WD,262500
2031,25,527402250,20,RL,NaN,12537,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,149900
2047,785,905377130,30,RL,NaN,12342,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2009,WD,82500

In [128]:
train_df.loc[train_df["fence"].isna()]

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,sale_price
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,921126030,20,RL,79.0,11449,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,NaN,0,1,2008,WD,298751
2047,785,905377130,30,RL,NaN,12342,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2009,WD,82500
2048,916,909253010,50,RL,57.0,7558,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,NaN,0,3,2009,WD,177000
2049,639,535179160,20,RL,80.0,10400,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,11,2009,WD,144000
2050,10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,WD,189000